.nav-item > a {
    color: #FFF
} 
.nav-item.active > a{
    color: #3bcd76
}
.navbar{
    background-color: #2c0848;
}
  
.archive {
    margin-top: 5px;
    float: center;
}




div.prompt {
    display: none;
}

div.input  {
    border: none;
    background-color: none;
}

div.input * {
    background-color: none;
}

/* set a max-width for horizontal fluid layout and make it centered */
.body-content {
  margin-right: auto;
  margin-left: auto;
  max-width: 750px;
}

div.output_subarea {
    /* Widens image-containing divs so that image is full body width */
    max-width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
