## -*- coding: utf-8 -*-

%if post:
<p>
    ${post.text()}
</p>
%endif

<div id="gallery_container"></div>
%if photo_array:
<div class="row">
  %for image in photo_array:
    <div class="col-xs-6 col-md-4">
        <h3>${image['title']}</h3>
        <a href="${image['eurl']}" class="thumbnail image-reference" title="${image['title']|h}">
            <img src="${image['url_thumb']}" alt="${image['title']|h}" />
        </a>
        <p class="text-justify">${image['description']}</p>
    </div>
  %endfor
</div>

%endif
