<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Quansight Labs site">
  <meta name="author" content="Quansight Labs Team">
  <link rel="icon" href="{{ '/static/img/favicon.ico'|url }}">

  <title>Quansight Labs Blog</title>

  <link rel="stylesheet" href="{{ '/static/css/bootstrap.min.css'|url }}">

  <!-- Custom CSS -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/static/css/custom.css'|url }}">
</head>

<body>
  <main role="main" class="container">

    <!-- HEADER -->
    <header class="site-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col pt-1">
          <!-- <a class="site-header-name" href="/">
            <h1 class="site-header-name">Quansight Labs</h1>
          </a> -->
          <img src="{{ '/static/img/quansight_labs_logo.png'|url }}" alt="Quansight Labs logo" width="200" />
        </div>
      </div>
    </header>
    <!-- END HEADER -->

    <!-- NAVIGATION -->
    <div class="container nav-bar">
      <div class="row nav">
        {% for href, title in [ ['/', 'Home'], ['/blog', 'Blog'], ] %}
          <a class="col-md-auto p-2" href="{{ href|url }}">{{ title }}</a>
        {% endfor %}
      </div>
    </div>
    <!-- END NAVIGATION -->

    <div class="row">

      <!-- MAIN BODY -->
      <div class="col">

        {% block body %}{% endblock %}

    </div>
  </main>

  <footer class="site-footer">
    Copyright © 2019 Quansight
  </footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>



</body>

</html>
