{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<!-- BLOG POST -->
<div class="blog-post">
  <h1 class="blog-post-title">{{ this.title }}</h1>
  {{ this.body }}
</div>
<!-- END BLOG POST -->

</div>
<!-- END MAIN BODY -->

<!-- SIDEBAR -->
<aside class="col-md-4">
  <div class="p-3 mb-3 bg-light rounded">
    <h4>About</h4>
    <p class="mb-0">
      Put something sensible here.
    </p>
  </div>

  <div class="p-3">
    <h4>Follow us</h4>
    <ol class="list-unstyled">
      <li><a href="https://github.com/Quansight-Labs">GitHub</a></li>
      <li><a href="https://www.quansight.com/labs">quansight.com/labs</a></li>
      <li><a href="https://quansight.github.io/">Open Source Directions</a></li>
    </ol>
  </div>
</aside>
<!-- END SIDEBAR -->
{% endblock %}
